<!DOCTYPE html>
<html lang="ja">
<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
  />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hibi トップページ</title>
</head>
<body>
    <!-- 右上にログアウトリンク -->
    {% if session.get('login_ok') %}
    <div class="logout-link">
        <a href="{{ url_for('logout') }}">ログアウト</a>
    </div>
    {% endif %}
    <!-- ロゴ画像 -->
    <div class="top-image">
      <img
        src="{{ url_for('static', filename='documents/Hibi_logo.png') }}"
        alt="ロゴ"
        class="logo"
      />
    </div>
    <div class="mainfield">
        <form action="{{ url_for('new_booking') }}" method="get">
            <div class="top-item">
                <button class="menu-button" type="submit">
                    イベント予約
                </button>
            </div>
        </form>
        <form action="{{ url_for('reservation_confirmation') }}" method="get">
            <div class="top-item">
                <button class="menu-button" type="submit">
                    予約確認
                </button>
            </div>
        </form>
    </div>
</body>
</html>
