<!DOCTYPE html>
<html lang="ja">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="register_verification">
    <div class="top-image">
      <img
        src="{{ url_for('static', filename='documents/Hibi_logo.png') }}"
        alt="ロゴ"
      />
    </div>
    <div id="register_verification">
      <p>以下のメールアドレスに確認メールを送信しました</p>
      <h1>{{ request.form.get('email', '') }}</h1>
      <p>ご確認ください</p>
    </div>
  </body>
</html>
